/* Section Scroller CSS */

.section-scroller {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    height: calc(100vh - 10%);
    scroll-padding: 0 10%;
}

.section-scroller > * {
    border: 1px solid black;
    scroll-snap-align: center;
    margin: 0 10%;
    height: 100%;
    width: 100%;
}

.section-scroller .section-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    height: 3rem;
    width: 3rem;
    background-color: #f2f2f2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-scroller .section-arrow svg {
    height: 2rem;
    width: 2rem;
    fill: black;
}
